<form data-toggle="validator" role="form" ng-controller="InvoiceCtrl">
    <div class="ibox-content m-b-sm border-bottom">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label">Customer</label>
                    <select class="form-control" ng-model="invoice.customer">
                                    <option ng-repeat="customer in customersList" value="{{customer.id}}">{{customer.name}}</option>
                                </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <table class="table table-hover price-list">
                        <thead>
                            <tr>
                                <th width="25%">Product</th>
                                <th width="10%">Quantity</th>
                                <th>Price</th>
                                <th>Total</th>
                                <th width="5%">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in invoice.items">
                                <td>
                                    <select class="form-control" ng-model="item.product">
                                        <option ng-repeat="product in productsList" value="{{product}}">{{product.name}}</option>
                                    </select>
                                </td>
                                <td><input type="number" ng-model="item.quantity" class="form-control" /></td>
                                <td>{{parseJson(item.product).price}} $</td>
                                <td>{{item.quantity * parseJson(item.product).price}} $</td>
                                <td><button type="button" class="btn btn-danger" ng-click="remove($index)">Delete</button></td>
                            </tr>
                            <tr>
                                <td><button type="button" class="btn btn-primary" ng-click="add()">Add product</button></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    <div class="row">
                                        <div class="col-sm-10 text-right">Sub Total:</div>
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-1">{{subTotalPrice()}} $</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5">
                                    <div class="row">
                                        <div class="col-sm-10 text-right">Discount (%):</div>
                                        <div class="col-sm-1">
                                            <input type="number" ng-model="invoice.discount" class="form-control" />
                                        </div>
                                        <div class="col-sm-1">{{discountPrice()}} $</div>
                                    </div>
                                </td>



                            </tr>
                            <tr>
                                <td colspan="5">
                                    <div class="row">
                                        <div class="col-sm-10 text-right">Total:</div>
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-1">{{totalPrice()}} $</div>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-12 text-right">
            <div class="form-group">
                <a href="/invoices" class="btn btn-default" role="button">Cancel</a>
                <a href="/invoices" class="btn btn-primary" role="button" ng-click="save()">Save</a>
            </div>
        </div>
    </div>
</form>