<div ng-controller="InvoicesCtrl">
    <div class="row">
        <div class="col-lg-12">
            <a href="/invoice" class="btn btn-primary" role="button">Create new invoice</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-striped">
                <thead>
                    <tr>

                        <th>Invoice ID</th>
                        <th>Customer</th>
                        <th>Items</th>
                        <th>Discount</th>
                        <th>Total</th>
                        <th class="text-right">Action</th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="invoice in invoices">
                        <td>{{invoice.id}}</td>
                        <td>{{invoice.customer.name}}</td>
                        <td><li ng-repeat="items in invoice.items">{{items.product.name}} x {{items.quantity}}</li></td>
                        <td>{{invoice.discount}}%</td>
                        <td>{{invoice.total}}$</td>

                        <td class="text-right">
                            <!--<button type="button" class="btn btn-success btn-xs">View</button>
                            <button type="button" class="btn btn-primary btn-xs">Edit</button>-->
                            <button type="button" class="btn btn-danger btn-xs" ng-click="delete($index, invoice.id)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>