<div ng-controller="ProductsCtrl">
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-striped">
                <thead>
                    <tr>

                        <th>ID</th>
                        <th>Name</th>
                        <th>Price</th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="pruduct in productsList">

                        <td>{{pruduct.id}}</td>
                        <td>{{pruduct.name}}</td>
                        <td>{{pruduct.price}}</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>