<div ng-controller="CustomersCtrl">
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Phone</th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="customer in customersList">

                        <td>{{customer.id}}</td>
                        <td>{{customer.name}}</td>
                        <td>{{customer.address}}</td>
                        <td>{{customer.phone}}</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>